<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= blogName %></h1>
    <p>Welcome to <%= title %></p>
    <p>Finally I installed express ejs sample</p>
    <a href="/about">Move to about page</a>
  </body>
</html>
